<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="task-card">
        <h3><%= link_to task.title, task %></h3>
        <p><%= task.body %></p>
        <p><%= task.status %></p>
    </div>
</div>